# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\request\腾讯云代码库\pytest_request\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
